*,
*:before,
*:after  { 
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 16px; 
  font-weight: normal;
  line-height: 1.4;
}

html, body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

h1 { 
  color: #fff;
  font-family: 'Arsenal', sans-serif;
}

.wrap{
  min-height:100%;
  min-height: calc(100vh - 34px);
  width:100%;
  position:relative;
  overflow:hidden;
  background: #120103;
  color: #fff;
  text-align:center;
  box-shadow: 0 .2em 1em #111;
}

header{
  background: #3E474F;
  box-shadow: 0 .5em 1em #111;
  position:absolute;
  top:0;
  left:0;
  z-index:900;
  width: 100%;
}

.header-head{
  color:#a2a8ad;
  line-height: 2em;
  font-size: .9em;
  font-weight:bold;
  padding: 0 1em;
  font-family: 'Lato', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1em;
}

header label{
  color: #788188;
  cursor:pointer;
  display:inline-block;
  line-height: 4.25em;
  font-size: .667em;
  font-weight:bold;
  padding: 0 1em;
}

header label:hover{
  background: #2e353b;
}

.fa{
  text-align: right;
  color: #788188;
  text-decoration: none;
}

.slide{
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0; 
  background-color:#120103;
  background-position: center;
  background-size: cover;
  transition: left 0s .75s;
}

.slide-one {
  background-image:url(../images/bodega-bay4.jpg);
}

.slide-two {
  background-image:url(../images/cliffs3.jpg);
}

.slide-three {
  background-image:url(../images/lighthouse.jpg);
}

.slide-four {
  background-image:url(../images/marin-headlines.jpg);
}

.slide-five {
  background-image:url(../images/golden-gate.jpg);
}

.slide-six {
  background-image:url(../images/san-francisco.jpg);
}

.slide-seven {
  background-image:url(../images/sealions.jpg);
}

.slide-eight {
  background-image:url(../images/sunset-bodega.jpg);
}

[id^="slide"]:checked + .slide{
  left:0;
  z-index:100;
  transition: left .65s ease-out;
}

.slide  h1{
  opacity:0;
  transform: translateY(100%);
  transition: transform .5s .5s, opacity .5s;
  font-size: 2.5em;
  /*font-size: 6vw;*/
  line-height: 1.2;
  margin: 0.5em 0 1em;
  text-shadow: 2px 2px 2px #333;
  position: absolute;
  right: .4em;
  bottom: 0.5em;
}

[id^="slide"]:checked + .slide h1{
  opacity: 1; 
  transform: translateY(0);
  transition: all .5s .5s;

}

.button-nav{
  position: absolute;
  left:50%;
  bottom: 15px;
  z-index: 900;
  font-size: .667em;
  text-align: center;
  transform: translate(-50%, -50%);

}

.button-nav > label {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding: .5em;
  cursor: pointer;
  box-shadow: 0.1em 0.1em 1em #333;
  margin-left: .5em;
}

.button-nav > label:nth-of-type(1){
  margin-left:0;
}

.button-nav > label:hover{
  background-color:#788188;
}


[id^="slide"]:nth-of-type(1):checked ~ .button-nav > label:nth-of-type(1),
[id^="slide"]:nth-of-type(2):checked ~ .button-nav > label:nth-of-type(2),
[id^="slide"]:nth-of-type(3):checked ~ .button-nav > label:nth-of-type(3),
[id^="slide"]:nth-of-type(4):checked ~ .button-nav > label:nth-of-type(4),
[id^="slide"]:nth-of-type(5):checked ~ .button-nav > label:nth-of-type(5),
[id^="slide"]:nth-of-type(6):checked ~ .button-nav > label:nth-of-type(6),
[id^="slide"]:nth-of-type(7):checked ~ .button-nav > label:nth-of-type(7),
[id^="slide"]:nth-of-type(8):checked ~ .button-nav > label:nth-of-type(8)
{
  background-color: #ff7f50;
}

footer{
    background: #3E474F;
    color: #a2a8ad;
    text-align: right;
    padding:10px 2.5em;
    font-size: .667em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: .08em;
}

@media (min-width: 992px) {
  .slide h1 { font-size: 4em; }
  .button-nav > label{ 
    padding: .7em;
    margin-left: 1em;
  }
}
  
